* {
	margin:0;
	padding:0;
	font-family: 'Press Start 2P', cursive;
	color: white;
}
body {
	background-color:#e5dfd3;
}

p {
		position: absolute;
top:15%;
	left: 15%;
	font-size:12px;

	text-shadow : rgba(0,0,0,.3) 0px 0px 5px;
			text-shadow: 	 #b6b6b6 2px 2px 0;

	/*text-shadow: 	#F2F2F2 1px 1px 0px, #ccc 3px 3px 0;*/

}
span {
font-size:11px;	
margin-left:10px;
		text-shadow: 	#e5dfd3 1px 1px 0px, #bbb 2px 2px 0;
		letter-spacing:-3px;
}
p em {
	font-style: normal;
}
canvas {
    border:none;
    display:block;

}


image, canvas {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}




img {
z-index:-1;
position:absolute;
left:-26%;
top:-32%
}
.share {
    position: absolute;
  
left:15%;
top:25%;
    width: 85px;
    overflow: hidden;
    opacity: .7;
    -webkit-transition:all .4s;
    -moz-transition:all .4;
    -o-transition:all .4s;
    -ms-transition:all .4s;
    transition:all .4s;
}
.share:hover {
    opacity: 1;
}

.clear {
    clear: both;
    height: 10px;
}



header {
    height:65px;
    width:100%;
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
    background: #fff;
    margin:0;
    padding:0;
        position: absolute;
z-index:100;
}



h1 {
    background: url(../img/logo.png) no-repeat 0 10px ;
    font-family: 'Lato', sans-serif;
    height:100%;
    width:200px;
    margin-left:55px;
    color:#999;
    padding-top:17px;
    padding-left:45px;
    font-size: 26px;
    letter-spacing: -2px;
    font-weight: 400;
    float: left;

}







.panel {
    width: 80px;
    background: white;
    height:auto;
    box-shadow: 0px 2px 3px rgba(0,0,0,.15);
position: absolute;

border-radius: 3px;
overflow: hidden;
}

.panel1 {
    left: 35px;
top: 100px;
}
.panel2 {
    left: 35px;
    top: 480px;
}
.panel ul {
    list-style-type: none;
    background: #f5f5f5;
}


.panel li {
   border-top: 1px solid rgba(0,0,0,.2);
   height: 70px;
 background-color: white;
     -webkit-transition: all .3s;

}
.panel li:nth-child(1) {
    border-top: none;

}

.panel li.uiitem {
    background: transparent url(../img/uigrass.png) no-repeat center center;
    opacity: .5;
}
.panel li.uiitem a{
text-indent: -9999px;
overflow: hidden;
height: 100%;
width: 100%;
display:block;
cursor: pointer;
}
.panel li.uiitem.active,.panel li.uiitem:hover {
    background-color:#fff;
    opacity: 1;

}

.panel li.uiitem.uigrass {background-image: url(../img/uigrass.png);}
.panel li.uiitem.uiroad {background-image: url(../img/uiroad.png);}
.panel li.uiitem.uiwater {background-image: url(../img/uiwater.png);}
.panel li.uiitem.uitree {background-image: url(../img/uitree.png);background-position: no-repeat center 7px;}
.panel li.uiitem.uiterrain {background-image: url(../img/uiterrain.png);background-position: no-repeat center 7px;}
.panel li.uiitem.uigrid {background-image: url(../img/uigridon.png);}
.panel li.uiitem.uigrid.off {background-image: url(../img/uigridoff.png);}
.panel li.uiitem.uilevelplus {background-image: url(../img/uilevelplus.png);}
.panel li.uiitem.uilevelmoins {background-image: url(../img/uilevelmoins.png);}







.panelzoom {
right:35;
}




#experiment {
    width: 150px; height: 79px; background-size: 150px 79px; 
    pointer-events: auto; left: 20px;
     bottom: 35px; opacity: 0.8; z-index: 100000; 
     background-image: url(../img/chrome-experimentb.png); visibility: visible;
    position: absolute;
    z-index: 20;
    left: 35px;

    overflow: hidden;
    display: block;
    text-indent: -999px;


}















input[type='text'] {
    width: 100%;
    height: 20px;
    border: none;
    border-radius: 3px;
    margin:5px 0;
    font-size: 9px;
    color: rgba(0,0,0,.4);
}











#content_loader {
    height: 100%;
    width: 100%;
    position: absolute;
        background-color:#e5dfd3;
        z-index: 50;
}

#loadingProgressG{
width:256px;
height:20px;
overflow:hidden;
background-color:#8AB54A;
-moz-border-radius:10px;
-webkit-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
left: 50%;
top: 40%;
position: absolute;
margin-left: -126px;
}

.loadingProgressG{
background-color:#E5DFD3;
margin-top:0;
margin-left:-256px;
-moz-animation-name:bounce_loadingProgressG;
-moz-animation-duration:1.8s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:bounce_loadingProgressG;
-webkit-animation-duration:1.8s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:bounce_loadingProgressG;
-ms-animation-duration:1.8s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:bounce_loadingProgressG;
-o-animation-duration:1.8s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:bounce_loadingProgressG;
animation-duration:1.8s;
animation-iteration-count:infinite;
animation-timing-function:linear;
width:256px;
height:20px;
}

@-moz-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-webkit-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-ms-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@-o-keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}

@keyframes bounce_loadingProgressG{
0%{
margin-left:-256px;
}

100%{
margin-left:256px;
}

}
- See more at: http://cssload.net/#sthash.GS2Z8drP.dpuf